{
    "root": true,
    "extends": [
        "airbnb-base",
        "airbnb-typescript/base",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "parserOptions": {
        "project": "tsconfig.json",
        "tsconfigRootDir": "test",
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": "error",
        "no-console": "off"
    }
}