{
    "root": true,
    "extends": [
        "prettier",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "prettier",
        "@typescript-eslint"
    ],
    "parser": "@typescript-eslint/parser",
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ],
        "linebreak-style": ["error", "windows"],
        "max-len": ["error", { "code": 120 }],
        "no-console": "off"
    }
}