{
    "extends": [
        "airbnb",
        "airbnb-typescript",
        "../.eslintrc"
    ],
    "parserOptions": {
        "project": "cli/tsconfig.json"
    },
    "ignorePatterns": [
        "**/*.d.*",
        "templates/**.*",
        "**/*.cjs",
        "**/*.js",
        "e2e/**/*",
        "scripts/*.ts"
    ],
    "rules": {
        "prettier/prettier": "error",
        "no-console": "off",
        "consistent-return": "off",
        "class-methods-use-this": "off",
        "@typescript-eslint/lines-between-class-members": "off",
        "no-param-reassign": "off",
        "@typescript-eslint/return-await": "off",
        "no-restricted-syntax": "off",
        "no-await-in-loop": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "react/require-default-props": "off",
        "no-promise-executor-return": "off",
        "@typescript-eslint/no-shadow": "off",
        "react/jsx-props-no-spreading": "off",
        "no-plusplus": "off"
    }
}