{
    "extends": [
        "airbnb",
        "airbnb-typescript",
        "airbnb/hooks",
        "../../.eslintrc"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "ignorePatterns": [
        "vite.config.ts",
        "**/*.d.*"
    ],
    "rules": {
        "react/jsx-max-props-per-line": [ "error", {  "maximum": 1 } ],
        "no-plusplus": "off"
    }
}